							</textarea>
						</div>

						<fieldset class=" collapsible collapsed" style="display: none">
							<legend>Format d'entrée</legend><div class="form-item" id="edit-format-1-wrapper">
								<label class="option" for="edit-format-1"><input type="radio"
									id="edit-format-1" name="format" value="1"
									checked="checked"   class="form-radio" /> Filtered HTML</label>
							</div>
							<div class="form-item" id="edit-format-2-wrapper">
								<label class="option" for="edit-format-2"><input type="radio"
									id="edit-format-2" name="format" value="2"
									class="form-radio" /> PHP code</label>
							</div>
							<div class="form-item" id="edit-format-3-wrapper">
								<label class="option" for="edit-format-3"><input type="radio"
									id="edit-format-3" name="format" value="3"
									class="form-radio" /> Full HTML</label>
							</div>
						</fieldset>
					</div>
					<input type="hidden" name="changed" id="edit-changed" value="" />
          <input type="hidden" name="form_build_id"
            id="form-ed0ac54083ac4b7316917ac1ae9ed37b"
            value="form-ed0ac54083ac4b7316917ac1ae9ed37b" />
          <input type="hidden" name="form_token"
            id="edit-actualite-node-form-form-token"
            value="$drupal_token" />
					<input type="hidden" name="form_id" id="edit-actualite-node-form" value="actualite_node_form" />
					<fieldset class=" collapsible collapsed" style="display: none">
						<legend>Paramètres des commentaires</legend>
						<div class="form-radios">
							<div class="form-item" id="edit-comment-0-wrapper">
								<label class="option" for="edit-comment-0"><input
									type="radio" id="edit-comment-0" name="comment" value="0"
									checked="checked"  class="form-radio" /> Désactivé</label>
							</div>
							<div class="form-item" id="edit-comment-1-wrapper">
								<label class="option" for="edit-comment-1"><input
									type="radio" id="edit-comment-1" name="comment" value="1"
									class="form-radio" /> Lecture uniquement</label>
							</div>
							<div class="form-item" id="edit-comment-2-wrapper">
								<label class="option" for="edit-comment-2"><input
									type="radio" id="edit-comment-2" name="comment" value="2"
									class="form-radio" /> Lecture/Ecriture</label>
							</div>
						</div>
					</fieldset>

					<fieldset class=" collapsible collapsed" style="display: none">
						<input type="text" maxlength="60" name="name" id="edit-name" size="60"
						value="echarpentier" class="form-text form-autocomplete" />
            <legend>Paramètres du chemin d'URL</legend><div class="form-item"
              id="edit-pathauto-perform-alias-wrapper">
              <label class="option" for="edit-pathauto-perform-alias">
                <input type="checkbox" name="pathauto_perform_alias"
                id="edit-pathauto-perform-alias" value="1"  checked="checked"
                class="form-checkbox" />
                Alias automatique</label>
						</div>
						<div class="form-item" id="edit-path-wrapper">
              <input type="text" maxlength="128" name="path" id="edit-path"
              size="60" value="" class="form-text" />
						</div>
					</fieldset>
				</div>
        <input type="submit" name="op" id="edit-submit-0" value="Enregistrer"
        class="form-submit" />
        <input type="submit" name="op" id="edit-preview" value="Aperçu"
        class="form-submit" />
			</div>
		</form>
	</body>
</html>
