      </textarea>
      </p>

      <p><a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a></p>

      <div id="form_links">
        <fieldset class="link">
          <input value="April" id="news_links_attributes_0_title" name="news[links_attributes][0][title]" type="text" />
          <input value="http://april.org" id="news_links_attributes_0_url" name="news[links_attributes][0][url]" type="text" />
          <select id="news_links_attributes_0_lang" name="news[links_attributes][0][lang]"><option value="fr" selected='true'>Français</option></select>
        </fieldset>
        <fieldset class="link">
          <input value="Revue de presse de l'April" id="news_links_attributes_1_title" name="news[links_attributes][1][title]" type="text" />
          <input value="http://www.april.org/revue-de-presse" id="news_links_attributes_1_url" name="news[links_attributes][1][url]" type="text" />
          <select id="news_links_attributes_1_lang" name="news[links_attributes][1][lang]"><option value="fr" selected='true'>Français</option></select>
        </fieldset>
        <fieldset class="link">
          <input value="Revue de presse de la semaine précédente" id="news_links_attributes_2_title" name="news[links_attributes][2][title]" type="text" />
          <input value="https://linuxfr.org/news/revue-de-presse-de-l-april-pour-la-semaine-X-de-l-annee-2015" id="news_links_attributes_2_url" name="news[links_attributes][2][url]" type="text" />
          <select id="news_links_attributes_2_lang" name="news[links_attributes][2][lang]"><option value="fr" selected='true'>Français</option></select>
        </fieldset>
        <fieldset class="link">
          <input value="Podcast" id="news_links_attributes_3_title" name="news[links_attributes][3][title]" type="text" />
          <input value="http://audio.april.org" id="news_links_attributes_3_url" name="news[links_attributes][3][url]" type="text" />
          <select id="news_links_attributes_3_lang" name="news[links_attributes][3][lang]"><option value="fr" selected='true'>Français</option></select>
        </fieldset>
      </div>

      <p>
      <label for="news_wiki_second_part">Seconde partie</label>
      <textarea class="markItUp" id="news_wiki_second_part" name="news[wiki_second_part]" spellcheck="true">
